@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  width: 100vw;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  a::hover,a::before{
    color: #69036d;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);

  }
  .et-hero-tabs,
  .et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    position: sticky;
    text-align: center;
    padding: 0;
  }

  .et-hero-tabs h3,
  .et-slide h3 {
    
      color: rgb(255, 255, 255);
    font-size: 1rem;
    opacity: 1;
  }
  .s0{
    background-color: #000;
    height:100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  nav{
    z-index: 12;
  }
  hr{
    display: none;
    width: 100%;
  }
  .s5{
    padding-bottom: 1vh;
  }
  footer{
    padding-top: 10vh;
  }
  .et-hero-tabs-container{
    left:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    position: fixed;
    top: 0;
    
    height: 70px;
    width: 99.9%;
    background: #2f2f3ba2;
    z-index: 10;
  }
  .bottom-nav{
    position: fixed;
    bottom: 0;
  }
  .top-nav {
    position: fixed;
    top: 0;
  }
  
  .et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 50%;
    flex: 1;
    color: rgb(255, 255, 255);
    border-left: 0.5px solid rgb(0, 0, 0);
    border-right: 0.5px solid rgb(0, 0, 0);
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .et-hero-tab:hover {
    text-decoration: none;
    color: rgb(0, 255, 255);
    transition: 0.5s ease;
  }
  
  .et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
  }

  @keyframes slidein {
    from {
      left:-50px
    }
  
    to {
      left: 4%;
    }
  }
  .project-title
{
  font-size: 1.5vw;
  font-weight: 500;
  color:white;
}

.sec-title
{
  font-family: 'Abel', sans-serif;
  font-weight: 500;
  color: rgb(14, 13, 13);
  font-size: 100px;
}
.project-container{
  overflow: scroll;
}
.project{
  height: 100%;
  border-radius: 15px;
  
  
}
 .qc{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/bg1.jpeg");
  z-index: 0;
  backdrop-filter: blur(100px);
  background-size: cover;
  background-blend-mode: darken;
 }
.cs50f{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/cs50f.jpg");
  z-index: 0;
  backdrop-filter: blur(100px);
  background-size: cover;
  background-blend-mode: darken;
}
.housepr{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/housepr.jpg");
  z-index: 0;
  backdrop-filter: blur(100px);
  background-size: cover;
  background-blend-mode: darken;
}
.inspirus{
  background: linear-gradient( rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.767) ), url("images/inspirus.netlify.app_ (1).jpg");
  z-index: 2;
  backdrop-filter: blur(400px);
  background-size: cover;
  background-blend-mode: darken;
}
.clothesline{
  background: linear-gradient( rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.767) ), url("images/clothesline.jpg");
  z-index: 2;
  backdrop-filter: blur(400px);
  background-size: cover;
  background-blend-mode: darken;
}
.aicte{
  background: linear-gradient( rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.767) ), url("images/scholarships.webp");
  z-index: 2;
  backdrop-filter: blur(400px);
  background-size: cover;
  background-blend-mode: darken;
}
.lendingclub{
  background: linear-gradient( rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.767) ), url("images/lendingclub.png");
  z-index: 2;
  backdrop-filter: blur(400px);
  background-size: cover;
  background-blend-mode: darken;
}

.svm{
  background: linear-gradient( rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.767) ), url("images/iris.jpg");
  z-index: 2;
  backdrop-filter: blur(400px);
  background-size: cover;
  background-blend-mode: darken;
}
.kmeans{
  background: linear-gradient( rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.767) ), url("images/university.jpg");
  z-index: 2;
  backdrop-filter: blur(400px);
  background-size: cover;
  background-blend-mode: darken;
}

.settheory{
  background: linear-gradient( rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.767) ), url("images/set-theory.png");
  z-index: 2;
  backdrop-filter: blur(400px);
  background-size: cover;
  background-blend-mode: darken;
}
.ticketflix{
  background: linear-gradient( rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.767) ), url("images/movietheatre.jpeg");
  z-index: 2;
  backdrop-filter: blur(400px);
  background-size: cover;
  background-blend-mode: darken;
}

.internshiprep
{
  background: linear-gradient( rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.767) ), url("images/tvb.png");
  z-index: 2;
  backdrop-filter: blur(400px);
  background-size: cover;
  background-position: 20rem ;
  background-blend-mode: darken;
}
.project-text{
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.2em;

}
.project-button{
  position: relative;
  margin-left: 4%;
    opacity: 1;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1em;
  border-radius: 15px;
  background: linear-gradient(to right, rgba(83, 200, 239, 0.8) 0%, rgba(81, 106, 204, 0.8) 96%);
  border-width: 2px;
  color:white;
  width: fit-content;
  padding:10px; 
  
}

.s1,.s2,.s3,.s4,.s5{
 /* background: #E4EBF5;*/
 background: #0b0c10;

}

.name-title{
    /*text-shadow: 0px 2px 7px #000000;*/
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 7em;
    color: #ffffff;
  }

.text-white{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
      color: rgb(218, 218, 218);
      font-size: 2em;
}
.contact-container{
  background: rgb(11,12,16);
  background: linear-gradient(180deg, rgba(11,12,16,1) 0%, rgba(64,44,106,0.9500175070028011) 50%, rgba(109,48,121,1) 100%);
}

.tech-stack{
  font-weight: 400;
}
.resume-button{
    top:9.5%;
    right: 10%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 3em;
    border-radius: 15px;
    background: linear-gradient(to right, rgba(83, 200, 239, 0.8) 0%, rgba(81, 106, 204, 0.8) 96%);
    border-width: 2px;
    color:white;
    width: fit-content;
    padding:10px; 
}

.name-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  position: fixed;
  text-transform: uppercase;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 10vw;
  font-family: "Poppins", sans-serif;
}
.word{
  position: fixed;
  font-size: 2em; 
  margin-top:7% ;
}

.title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
}

ul{
  padding: 5%;
  
}
ul li{
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 1.2em;
}

.outreach{

  line-height: 1.7em;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  color: white;
  border: 2px solid teal;
  background-color: black;
  padding: 20px;
  width: 70%;
  font-weight: 300;
  font-size: 0.9em;
  animation-duration: 2s;
  animation-name: slidein;
  text-align: left;
}
.outreach li{
  font-weight: 400;
}
.loyola li{
  font-weight: 100;
}
.h2{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.05vw;
  font-weight: 800;
  font-size: 1.2em;
}
.h1{
  color: rgb(0, 0, 0);
  font: 700 48px/1.2 "Poppins", sans-serif;
}
.intro-para{
  text-align: start;
  font-weight: 200;
  padding: 20px;
  border: 2px;
  line-height: 1.3em;
  border-radius: 20px;
}
.intro{
  width: 80%;
}
.hey{
  /* color: #66fcf1; */
  font-size: 6em; 
  font-weight: 400; 
  text-align: left;
  padding-bottom: 2vh;
  animation-duration: 2s;
  animation-name: slidein;
  background: rgb(208,63,158);
  background: linear-gradient(180deg, rgba(208,63,158,1) 32%, rgba(83,0,172,1) 89%, rgba(72,22,190,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.tech-stackm{
  background-color: black;
  color:rgb(255, 255, 255);
  line-height: 1.4em;
  letter-spacing: 0.03em;
  text-align: left;
  border-radius: 20px;
  border: 2px solid teal;
  padding: 20px;
  width: 95%;
  font-weight: 300;
  font-size: 1.3em;
}
.s5 h2{

  font-size: 4vw;

}
.sub-box{
  letter-spacing: 0.05vw;
  line-height: 1.7em;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 20px;
  width: 70%;
  font-weight: 300;
  font-size: 1em;
  text-align: left;

}
.gradient-text{
  display: inline;
  font-weight: 400;
  color: aquamarine;
  /* background: #36D1DC;  
background: linear-gradient(to right, #ca59ec, #36D1DC); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}
.social{
  font-size: 1.5em;
  letter-spacing: 0.02em;
  text-align: center;
}
.social-text{
  text-align: left;
}
.social h2{
  text-align: center;
}
.social-links{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}
.social-button{
  padding:10px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: #00182e;
  font-size: 3vw;
  border-radius: 20px;
  margin: 2vw 2vw;
}
.social-links a{
  text-decoration: none;
}
.social-button:hover{
  background: #000000;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.email{
  background: #36D1DC;  
  font-weight: 400;
background: linear-gradient(to right, #ca59ec, #36D1DC); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
}
.resume{
  text-align: center;
  font-size: 1em;
  width: 50%;
  background: white;
  color: #000;
}
  @media (max-width: 960px){
  
    body{
      
      max-width: 100vw;
    }
    .et-hero-tabs h1,
    .et-slide h1 {
        font-size: 2rem;
      }
      .et-hero-tabs h3,
    .et-slide h3 {
        font-size: 0.7rem;
      }
    
      .et-hero-tab {
        font-size: 1rem;
      }
    .title{
      font-size: 2.5vw;
    }
    .mini-card-grid{
      overflow-x: scroll;
    }
    li{
      width: 100%;
    }
    .text-white{
        font-size: 1.3rem;
    }
    .hey{
      font-size: 13vw;
      text-align: center;

    }
    .tech-stackm{
      padding: 15px;
      font-size: 1.2rem;
      width:100%;
      line-height: 1.4em;
    }
    .tech-stack{
      text-align: left;
      font-weight: 500;
      font-size: 4vw;
    }
    .word{
      left: 20%;
      font-size: 2em; 
      
    }
    .intro{
      margin: auto;
      width: 95%;
      letter-spacing: 00.1rem;
      font-size: 1.2rem;
    }
    .h1{
      font-size: 1rem;
    }
    .name-title{
      text-align: left;
      font-size: 5rem;
      padding: 40px;
    }
    .et-hero-tabs-container{
      height: 6.7vh;
      position:fixed;
      flex-wrap: nowrap;
      flex-direction: initial;
      align-content: center;
      justify-content: center;
    }
    .et-hero-tab{
      font-size: 2.8vw;
      letter-spacing: 0.02em;
      margin: auto;
    }
    h3{
      padding: 0px;
      position: relative;
      top:10%
    }
    .outreach,.sub-box{
      width: 95%;
      overflow-y:scroll ;
    }
    .link{
      font-size: 6vw;
    }
    .title {
      font-size: 1.5rem;
    }
    .project-title{
      font-size: 1.5rem;
    }
    
    .resume-button{
      top:6%;
      font-size: 1.2em;
    }
    .social h2{
      font-size: 5vw;
      font-weight: 600;
    }
    .social-text{
      font-size: 4vw;
      line-height: 1.1em;
      letter-spacing: 0.05em;
    }
    .social-button{
      padding:6px;
      font-size: 4vw;
    }
    .resume{
      font-size: 5vw;
      padding-left: 10px;

    }
  }